.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    // background-color:#cccccc;
    background-color:#ffffff;

    &__logo {
        display: grid;
        place-items: center;
        height: 120px;
        font-size: 1rem;
        font-weight: 700;
    }

    &__menu {
        position: relative;

        &__item {
            display: flex;
            align-items: center;
            place-content: flex-start;
            padding: 1rem 3rem;
            font-size: 1.5rem;
            font-weight: 400;
            color: #000000;
            transition: color 0.3s ease-in-out;

            &.active {
                color: rgb(44, 212, 196);
                font-size: 1.7rem;
                background-color:#e3e2e2;
            }

            &__icon {
                margin-right: 1rem;

                i {
                    font-size: 1.75rem;
                }
            }
        }

        &__indicator {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(100% - 30px);
            border-radius: 10px;
            // background-color:rgb(44, 212, 196);
            z-index: -1;
            transform: translateX(-50%);
            transition: 0.3s ease-in-out;
        }
    }
}